<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <Property name="app_name">demo</Property>
        <Property name="date">%d{yyyy-MM-dd HH:mm:ss.SSS}</Property>
        <Property name="daily_log">logs/${app_name}_web_%d{yyyy-MM-dd}.log</Property>
    </Properties>
    <appenders>
        <Console  name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${date}, [${app_name}], [ %-5level ], %logger{10}, %msg %n" />
        </Console>
        <RollingFile name="File" fileName="logs/${app_name}_web.log" filePattern="${daily_log}.zip">
            <PatternLayout pattern="${date}, [${app_name}], [ %-5level ], %logger{10}, %msg %n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
		<logger name="com.example.demo.repository" level="trace" />
        <root level="info">
            <appender-ref ref="Console" />
            <appender-ref ref="File" />
        </root>
	</loggers>
</configuration>